[submodule ".scripts"]
	path = .scripts
	url = https://github.com/tonyOehme/scripts.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:tonyOehme/nvim.git
[submodule ".config/alacritty/themes"]
	path = .config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
[submodule ".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = .oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = .oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".oh-my-zsh/custom/themes/powerlevel10k"]
	path = .oh-my-zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule ".oh-my-zsh/custom/themes/powerlevel10k"]
	path = .oh-my-zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
