[user]
	name = Tony Andy Oehme
	email = tony-andy.oehme@tum.de
[init]
	defaultBranch = main
[core]
	editor = nvim
    pager = cat
	excludesfile = ~/.gitignore_global
    whitespace = -trailing-space
[pull]
    rebase = true
[diff]
    algorithm = histogram
    renames = true
    wordRegex = .
    submodule = log
    mnemonicPrefix = true
	colorMoved = true
[color]
	ui = auto
[status]
    submoduleSummary = true
    showUntrackedFiles = all
[merge]
	conflictstyle = diff3
[grep]
	linenumber = true
    break = true
    heading = true
    extendedRegexp = true
[push]
    autoSetupRemote = true
    default = current
[rerere]
	enabled = true
[commit]
    verbose = true
[submodule]
    recurse = true
[transfer]
    fsckobjects = true
[fetch]
    fsckobjects = true
[receive]
    fsckObjects = true
