[submodule ".scripts"]
	path = .scripts
	url = https://github.com/tonyOehme/scripts.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/tonyOehme/nvim.git
[submodule ".config/alacritty/themes"]
	path = .config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
